fastapi==0.140.13
a2wsgi==1.10.10
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
alembic==1.16.4
pydantic==2.11.7
httpx==0.28.1
psycopg[binary]==3.2.9
edge-tts==7.2.8
miniaudio==1.61
openpyxl==3.1.5
reportlab==4.4.3
